@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-nav: #ffffff;
  --bg-primary: #dddbdbf4;
  --bg-primary-gradient: linear-gradient(
    120deg,
    rgba(99, 102, 241, 0.15),
    rgba(236, 72, 153, 0.15)
  );
  --color-primary-blue: rgb(20, 20, 200);
  --text-color: #4b4a4a;
  --text-hover: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  background: var(--bg-primary-gradient);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--bg-nav);
  height: 70px;
  padding: 2px 40px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 70px;
}

.text {
  color: var(--text-color);
  font-weight: 600;
}

.menu-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu-nav li {
  display: flex;
  align-items: center;
}

.menu-nav li a {
  text-decoration: none;
  color: var(--text-color);
}

.menu-nav li a:hover {
  color: var(--text-hover);
  text-decoration: underline;
  text-underline-offset: 8px;
  transition: 0.5s;
  text-decoration-thickness: 3px;
}



.hero {
  padding: 2rem;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}

.hero .left img {
  width: 500px;
}

.hero .right {
  margin-top: 100px;
}

.hero .left {
  margin-top: 100px;
}

.hero .right h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.hero .right p {
  margin-bottom: 10px;
}
.hero .right .btn {
  padding: 10px 32px;
  border: none;
  border-radius: 10px;
}
.hero .cta {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.hero .mulai {
  color: white;
  background: blue;
}

.hero .cta .btn:hover {
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 0 3px 24px var(--color-primary-blue);
}


.features {
  min-height: 100vh;
}

.features container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.features-text {
  text-align: center;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;

  padding: 40px 60px;
}


.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 350px;
  padding: 20px 40px;
  text-align: center;
  border-radius: 16px;
}

.feature-card:hover {
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 0px 8px 32px var(--color-primary-blue);
}

.feature-card img {
  width: 200px;
}

.feature-card h3 {
  margin-bottom: 8px;
}

.feature-card p {
  margin-bottom: 8px;
}